<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Health Check Endpoints" stopProcessing="true">
          <match url="^(health|healthz|ready|live)$" />
          <action type="CustomResponse" statusCode="200" statusReason="OK" statusDescription="Healthy" />
        </rule>
        <rule name="React Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(health|healthz|ready|live)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="403" />
      <remove statusCode="502" />
      <remove statusCode="503" />
      <error statusCode="403" path="/error.html" responseMode="ExecuteURL" />
      <error statusCode="502" path="/error.html" responseMode="ExecuteURL" />
      <error statusCode="503" path="/error.html" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>
